<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpaceBlaster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>882C24B31DAD4448007E4F73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>882C24CB1DAD4449007E4F73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>882C24D61DAD4449007E4F73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
